@using Force.Model.ViewModel.SubHeader;
@{

    var subHeader = ViewData["SubHeader"] as SubHeader;
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/home/index">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@subHeader.Title</span>
        </li>
        @{ foreach (var item in subHeader.LinkText)
            {
                <li class="m-nav__item">
                    <i class="fa fa-circle"></i>
                    <a href="@item.Value" class="m-nav__link">
                        <span>
                            @item.Key
                        </span>
                    </a>
                </li>
            }
        }
    </ul>
    <div class="page-toolbar">
        <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
            <i class="icon-calendar"></i>&nbsp;
            <span class="thin uppercase hidden-xs"></span>&nbsp;
            <i class="fa fa-angle-down"></i>
        </div>
    </div>
</div>