<!--Begin::Section-->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">首页</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>首页</span>
                </li>
            </ul>
            <div class="page-toolbar">

            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--mobile">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    页面说明
                                    <small>
                                        版权说明
                                    </small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        前端页面的著作权归<a href="https://keenthemes.com" class="m-link">Keenthemes</a>，<br />
                        作者引用此页面做一个示例，如侵权，私我立删。<br />
                        如有使用此框架的用户请支持购买正版。<br />
                        如需要看源的私我。
                    </div>
                </div>
                <!--end::Portlet-->
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--rounded">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    框架说明
                                    <small>
                                        写作方式说明
                                    </small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        此demo完全可用于正式开发使用，作者没有完整的研究的Asp.net语法，<br />
                        所以没有使用标准的Asp.net Core语法开发，使用的是大量jQuery操作dom或进行值验证，<br />
                        作者认为自己使用的爽开发快的方式就是好方式，工科玩儿家勿喷。
                    </div>
                </div>
                <!--end::Portlet-->
            </div>
        </div>
        <!--End::Section-->
    </div>
</div>